@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* 🎨 CUSTOM COLORS (Sora/Edtronaut theme) */
  --color-primary: #251EAD;
  --color-primary-light: #e6f0ff;

  --color-success: #00c389;
  --color-success-light: #effff8;

  --color-danger: #ff4d4f;
  --color-danger-light: #fff1f0;

  --color-gray-soft: #f7f9fc;
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  /* Radius */
  --radius-xl: 1rem;
  --radius-2xl: 1.25rem;

  /* Shadow */
  --shadow-soft: 0 2px 12px rgba(0,0,0,0.03);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.career-activation-chart .CircularProgressbar-text {
  dominant-baseline: middle;
  text-anchor: middle;
}
